@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none; }

body {
  overflow: hidden; }

.palayer1 {
  width: 50px;
  height: 50px;
  background-image: url(../img/simle__back.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 50;
  display: none; }

.palayer2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/simle__back2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 50;
  display: none; }

.target {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../img/tarhert__img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  display: none; }

.settings__menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0%;
  display: flex;
  flex-direction: column;
  display: none;
  background: linear-gradient(161.56deg, rgba(0, 194, 255, 0.9) 12.5%, rgba(111, 220, 255, 0.9) 104.89%);
  backdrop-filter: blur(9.5px);
  animation-name: settings__menu;
  animation-duration: 1s;
  animation-iteration-count: 1;
  z-index: 9999; }
  .settings__menu .settings__header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .settings__menu .settings__header .settings__box {
      width: 55.5%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 3%; }
      .settings__menu .settings__header .settings__box .settings__h1 {
        font-family: 'Milonga';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #00121F; }
      .settings__menu .settings__header .settings__box .settings__close {
        width: 70px;
        height: 70px;
        cursor: pointer; }
  .settings__menu .settings__main {
    width: 100%;
    height: 80%;
    display: flex; }
    .settings__menu .settings__main .settings__centerM {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .settings__menu .settings__main .settings__centerM .settings__h2 {
        font-family: 'Milonga';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 50px;
        text-align: center;
        color: #333333; }
      .settings__menu .settings__main .settings__centerM .box__nameee {
        width: auto;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Milonga';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 3%; }
        .settings__menu .settings__main .settings__centerM .box__nameee #name__pl1 {
          position: relative;
          right: 30px; }
        .settings__menu .settings__main .settings__centerM .box__nameee #name__pl2 {
          position: relative;
          left: 30px; }
      .settings__menu .settings__main .settings__centerM .settings__contant {
        width: auto;
        height: 110px;
        display: flex;
        margin-top: 4%; }
        .settings__menu .settings__main .settings__centerM .settings__contant .bg__image {
          width: 55px;
          height: 55px;
          background-repeat: no-repeat;
          background-image: url(../img/ic-bg1__pl1.png);
          background-size: cover;
          cursor: pointer; }
        .settings__menu .settings__main .settings__centerM .settings__contant .settings__background-icon {
          width: 110px;
          height: 110px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 25px;
          margin-right: 25px;
          transition: 1s; }
          .settings__menu .settings__main .settings__centerM .settings__contant .settings__background-icon .bg__image__pl {
            background-image: url(../img/ic-bg1__pl1.png); }
          .settings__menu .settings__main .settings__centerM .settings__contant .settings__background-icon .bg__image2__pl {
            background-image: url(../img/ic-bg1__pl2.png); }
          .settings__menu .settings__main .settings__centerM .settings__contant .settings__background-icon .bg__image3__pl {
            background-image: url(../img/ic-bg2__pl1.png); }
          .settings__menu .settings__main .settings__centerM .settings__contant .settings__background-icon .bg__image4__pl {
            background-image: url(../img/ic-bg2__pl2.png); }
          .settings__menu .settings__main .settings__centerM .settings__contant .settings__background-icon .bg__image5__pl {
            background-image: url(../img/ic-bg3__pl1.png); }
          .settings__menu .settings__main .settings__centerM .settings__contant .settings__background-icon .bg__image6__pl {
            background-image: url(../img/ic-bg3__pl2.png); }
      .settings__menu .settings__main .settings__centerM .settings__contant-first {
        margin-top: 5%; }
    .settings__menu .settings__main .settings__rihgtM {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .settings__menu .settings__main .settings__rihgtM .settings__h2 {
        font-family: 'Milonga';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 50px;
        text-align: center;
        color: #333333; }
      .settings__menu .settings__main .settings__rihgtM .settings__contant {
        width: auto;
        height: 110px;
        display: flex;
        margin-top: 4%; }
        .settings__menu .settings__main .settings__rihgtM .settings__contant .bg__image {
          width: 55px;
          height: 55px;
          background-image: url(../img/ic-bg1.png);
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer; }
        .settings__menu .settings__main .settings__rihgtM .settings__contant .settings__background-icon {
          width: 110px;
          height: 110px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 25px;
          margin-right: 25px;
          transition: 1s;
          position: relative;
          top: 6%; }
          .settings__menu .settings__main .settings__rihgtM .settings__contant .settings__background-icon .bg__image1 {
            background-image: url(../img/ic-bg1.png); }
          .settings__menu .settings__main .settings__rihgtM .settings__contant .settings__background-icon .bg__image2 {
            background-image: url(../img/ic-bg2.png); }
          .settings__menu .settings__main .settings__rihgtM .settings__contant .settings__background-icon .bg__image3 {
            background-image: url(../img/ic-bg3.png); }
          .settings__menu .settings__main .settings__rihgtM .settings__contant .settings__background-icon .bg__image4 {
            background-image: url(../img/ic-bg4.png); }
          .settings__menu .settings__main .settings__rihgtM .settings__contant .settings__background-icon .bg__image5 {
            background-image: url(../img/ic-bg5.png); }
          .settings__menu .settings__main .settings__rihgtM .settings__contant .settings__background-icon .bg__image6 {
            background-image: url(../img/ic-bg6.png); }
      .settings__menu .settings__main .settings__rihgtM .settings__contant-first {
        margin-top: 10%; }

@keyframes settings__menu {
  0% {
    position: absolute;
    left: 100%; }
  100% {
    position: absolute;
    left: 0%; } }
.winner__menu {
  width: 100%;
  height: 100vh;
  background: rgba(107, 220, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  position: absolute;
  top: 0.001%;
  z-index: 999;
  animation-name: winner__menu;
  animation-duration: 1s;
  animation-iteration-count: 1;
  will-change: auto;
  display: flex;
  flex-direction: column;
  display: none; }
  .winner__menu .winner__header {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5%; }
    .winner__menu .winner__header .winner__name {
      font-family: 'Milonga';
      font-style: normal;
      font-weight: 400;
      font-size: 96px;
      line-height: 160px;
      text-align: center;
      color: #FFFFFF;
      animation-name: winner__name;
      animation-duration: 3s;
      animation-iteration-count: 1; }
@keyframes winner__name {
  0% {
    position: relative;
    bottom: 100%;
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    position: relative;
    bottom: 0%;
    opacity: 1; } }
  .winner__menu .winner__icon {
    width: 100%;
    height: 2.5%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center; }
    .winner__menu .winner__icon .winner__img {
      width: 80px;
      height: 80px;
      animation-name: winner__img;
      animation-duration: 3s;
      animation-iteration-count: 1;
      rotate: 360deg; }
@keyframes winner__img {
  0% {
    position: relative;
    right: 50%;
    rotate: 0deg;
    opacity: 0; }
  50% {
    position: relative;
    right: 25%;
    rotate: 120deg;
    opacity: 0; }
  100% {
    position: relative;
    right: 0%;
    rotate: 360deg;
    opacity: 1; } }
  .winner__menu .winner__main {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%; }
    .winner__menu .winner__main .text__wineer {
      font-family: 'Milonga';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 60px;
      text-align: center;
      color: #F5F5F5;
      margin-bottom: 1%;
      animation-name: text__wineer;
      animation-duration: 3s;
      animation-iteration-count: 1; }
@keyframes text__wineer {
  0% {
    position: relative;
    right: 40%;
    opacity: 0; }
  20% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    position: relative;
    right: 0%;
    opacity: 1; } }
    .winner__menu .winner__main .text__wineer2 {
      font-family: 'Milonga';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 60px;
      text-align: center;
      color: #F5F5F5;
      margin-top: 1%;
      animation-name: text__wineer2;
      animation-duration: 3.5s;
      animation-iteration-count: 1; }
@keyframes text__wineer2 {
  0% {
    position: relative;
    right: 60%;
    opacity: 0; }
  20% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    position: relative;
    right: 0%;
    opacity: 1; } }
  .winner__menu .winner__footer {
    width: 100%;
    height: 28%;
    background: #003358;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .winner__menu .winner__footer .restart {
      font-family: 'Miltonian Tattoo';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 76px;
      text-align: center;
      color: #D2FFB7;
      cursor: pointer;
      animation-name: restart;
      animation-duration: 4s;
      animation-iteration-count: 1; }
@keyframes restart {
  0% {
    position: relative;
    top: 150%;
    opacity: 0; }
  100% {
    position: relative;
    top: 0%;
    opacity: 1; } }
@keyframes winner__menu {
  0% {
    position: absolute;
    top: -100%; }
  100% {
    position: absolute;
    top: 0.001%; } }
.wrap {
  width: 100%;
  height: 100vh;
  display: none;
  background-image: url(../img/play__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  display: none; }
  .wrap .wrap__header {
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%; }
    .wrap .wrap__header .menu {
      width: 50px;
      height: 50px;
      background-image: url(../img/menu.png);
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      margin-top: 5.6%; }
    .wrap .wrap__header .tabel__winner {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: space-between; }
      .wrap .wrap__header .tabel__winner .tabel {
        width: 35%;
        height: 100%;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .wrap .wrap__header .tabel__winner .tabel .plaeyer__name {
          font-family: 'Milonga';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          color: #333;
          margin-bottom: 1%; }
        .wrap .wrap__header .tabel__winner .tabel .plaeyer__number {
          font-family: 'Milonga';
          font-style: normal;
          font-weight: 400;
          font-size: 42px;
          line-height: 58px;
          text-align: center;
          color: #333;
          margin-top: 1%; }
    .wrap .wrap__header .settings {
      width: 50px;
      height: 50px;
      background-image: url(../img/settigns.png);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      margin-top: 5.2%;
      z-index: 100; }
  .wrap .wrap__main {
    width: 100%;
    height: 84%;
    padding-bottom: 10%; }

.rules {
  width: 60%;
  height: 70%;
  position: absolute;
  bottom: 100%;
  left: 0%;
  z-index: 999999;
  background: rgba(217, 217, 217, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 30px; }
  .rules .header__close {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end; }
    .rules .header__close .close {
      width: 70px;
      height: 70px;
      position: relative;
      top: 1%;
      right: 1%;
      z-index: 9999;
      cursor: pointer; }
  .rules .main__close {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%; }
    .rules .main__close .text__rules {
      text-align: center;
      font-family: 'Milonga';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 75px;
      color: #333333; }

.rules__animation {
  position: absolute;
  bottom: 15%;
  left: 21.2%;
  animation-name: rules__animation;
  animation-duration: 1s;
  animation-iteration-count: 1; }

@keyframes rules__animation {
  0% {
    bottom: 100%; }
  50% {
    bottom: 0%; }
  100% {
    bottom: 15%; } }
.rules__animation__close {
  position: absolute;
  bottom: 100%;
  left: 21.2%;
  animation-name: rules__animation__close;
  animation-duration: 1s;
  animation-iteration-count: 1; }

@keyframes rules__animation__close {
  0% {
    bottom: 15%; }
  50% {
    bottom: 0%; }
  100% {
    bottom: 100%; } }
.loading {
  width: 100%;
  height: 100vh;
  background-image: url(../img/theFirst__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 200; }
  .loading .header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end; }
    .loading .header .music__off {
      width: 50px;
      height: 50px;
      position: relative;
      top: 42%;
      right: 63%;
      cursor: pointer;
      background-image: url(../img/music__off.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .loading .main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%; }
    .loading .main .button {
      position: relative;
      display: inline-block;
      margin: 20px; }
    .loading .main .button a {
      color: white;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      font-size: 36px;
      text-align: center;
      text-decoration: none;
      background-color: #FFA12B;
      display: block;
      position: relative;
      padding: 20px 40px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0px 1px 0px #000;
      filter: dropshadow(color=#000, offx=0px, offy=1px);
      -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
      -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
      box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .loading .main .button a:active {
      top: 10px;
      background-color: #F78900;
      -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
      -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
      box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100; }
    .loading .main .button:after {
      content: "";
      height: 100%;
      width: 100%;
      padding: 4px;
      position: absolute;
      bottom: -15px;
      left: -4px;
      z-index: -1;
      background-color: #2B1800;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }

.line {
  width: 100%;
  height: 5px;
  background-color: #333;
  transform: rotate(31deg); }

.line__off {
  width: 0%;
  height: 5px;
  background-color: #333;
  transform: rotate(0deg);
  animation-name: line__music___ff;
  animation-duration: 0.5s;
  animation-iteration-count: 1; }

@keyframes line__music___ff {
  0% {
    transform: skew(0);
    transform: rotate(31deg);
    width: 100%;
    height: 5px; }
  50% {
    width: 100%;
    height: 5px;
    transform: skew(360deg);
    transform: rotate(0deg); }
  100% {
    width: 0%; } }
.bg__color {
  background-color: #FFFFFF;
  transition: 1s; }

.bg__transperent {
  background-color: transparent; }

.bg__wrpa1 {
  background-image: url(../img/play__bg.png); }

.bg__wrpa2 {
  background-image: url(../img/play__bg2.png); }

.bg__wrpa3 {
  background-image: url(../img/play__bg3.png); }

.bg__wrpa4 {
  background-image: url(../img/play__bg4.png); }

.bg__wrpa5 {
  background-image: url(../img/play__bg5.png); }

.bg__wrpa6 {
  background-image: url(../img/play__bg6.png); }

.bg__1pl1 {
  background-image: url(../img/ic-bg1__pl1.png); }

.bg__2pl1 {
  background-image: url(../img/ic-bg2__pl1.png); }

.bg__3pl1 {
  background-image: url(../img/ic-bg3__pl1.png); }

.bg__1pl2 {
  background-image: url(../img/ic-bg1__pl2.png); }

.bg__2pl2 {
  background-image: url(../img/ic-bg2__pl2.png); }

.bg__3pl2 {
  background-image: url(../img/ic-bg3__pl2.png); }

.display__none {
  display: none; }

.display__flex {
  display: flex; }

/*# sourceMappingURL=style.css.map */
